@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* :root{
    --primary-color:rgb(91, 160, 186);
    --secundary-color: rgb(184, 219, 245);
    --primary-color-darker: rgb(7, 63, 100);
}

body {
    background-color: #eee;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}



.resultado {
    align-items: center;
}

.cabecalhoPrograma {
    font-size: 18px;
}

.descricaoPrograma {
    font-size: 9px;
}

.nomePrograma {
    font-size: 12px;
}

.horarioInicioPrograma {
    font-size: xx-small;
}

.horarioFimPrograma {
    font-size: xx-small;
}

.thHoraInicio {
    font-size: xx-small;
}

.thHoraFim {
    font-size: xx-small;

}
.aoVivoPrograma {
    color:red;
} 

th,tr,td {
	border: 0;
	border-top: 1px solid #006497;
} */

*{margin: 0; padding: 0; box-sizing: border-box;}

.resultado {display: flex; margin: auto;}

.rTable{width: 100%; text-align: center;}
    .rTable thead{background: #009DDB; font-weight: bold; color: #fff;}
    .rTable tbody tr:nth-child(2n){background: #ccc;}
    .rTable th, .rTable td{padding: 7px 0;}

@media screen and (max-width: 480px) {
    .resultado{width: 94%;}

    .rTable thead{display: none;}
    .rTable tbody td{display: flex; flex-direction: column;}
}

@media only screen and (min-width: 1200px) {
    .resultado{width: 90%;}

    .rTable tbody tr td: :nth-child(1){width: 20%;}
    .rTable tbody tr td: :nth-child(2){width: 20%;}
    .rTable tbody tr td: :nth-child(3){width: 20%;}
    .rTable tbody tr td: :nth-child(4){width: 20%;}
}
body {
    background-color: #eee;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}
header, footer {
    background-color: ghostwhite;
    padding: 20 px;
    text-align: center;
}
.cabecalhoPrograma {
    font-size: 18px;
}